html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


input[type="button"]{
   outline:none;
}
input[type="button"]::-moz-focus-inner {
   border: 0;
}

.sepOn {
  background: cyan;
  outline:none;
  border: none;
}

.sepOff {
  background: gray;
  color: white;
  outline:none;
  border: none;
}

.alignOn {
  background: white;
  outline:none;
  border: none;
}

.alignOff {
  background: gray;
  color: white;
  outline:none;
  border: none;
}

.cohesOn {
  background: yellow;
  outline:none;
  border: none;
}

.cohesOff {
  background: gray;
  color: white;
  outline:none;
  border: none;
}

.anOn {
  background: gray;
  outline:none;
  border: none;
  opacity: 0.5;
}

.anOff {
  background: gray;
  outline:none;
  border: none;
  opacity: 1;
}

.sepMobileOn {
  background: cyan;
  outline:none;
  border: none;
  font-size: 1.6em;
  font-style: bold;
}

.sepMobileOff {
  background: gray;
  color: white;
  outline:none;
  border: none;
  font-size: 1.6em;
  font-style: bold;
}

.alignMobileOn {
  background: white;
  outline:none;
  border: none;
  font-size: 1.6em;
  font-style: bold;
}

.alignMobileOff {
  background: gray;
  color: white;
  outline:none;
  border: none;
  font-size: 1.6em;
  font-style: bold;
}

.cohesMobileOn {
  background: yellow;
  outline:none;
  border: none;
  font-size: 1.6em;
  font-style: bold;
}

.cohesMobileOff {
  background: gray;
  color: white;
  outline:none;
  border: none;
  font-size: 1.6em;
  font-style: bold;
}

.anMobileOn {
  background: gray;
  outline:none;
  border: none;
  opacity: 0.5;
  font-size: 1.6em;
  font-style: bold;
}

.anMobileOff {
  background: gray;
  outline:none;
  border: none;
  opacity: 1;
  font-size: 1.6em;
  font-style: bold;
}
